<% provide :page_header do %>
  <h1><%= t('hyrax.embargoes.manage') %>: <%= curation_concern %><span class="human_readable_type">(<%= curation_concern.human_readable_type %>)</span></h1>
<% end %>

<h2><%= t('hyrax.embargoes.edit.header.current') %></h2>
<%= simple_form_for [main_app, curation_concern] do |f| %>
  <fieldset class="set-access-controls">
    <section class="help-block">
      <p>
        <% if curation_concern.embargo_release_date %>
          <%= t('hyrax.embargoes.edit.embargo_true') %>
        <% else %>
          <%= t('hyrax.embargoes.edit.embargo_false') %>
        <% end %>
      </p>
    </section>

    <div class="form-group">
      <input type="hidden" name="<%= f.object_name %>[visibility]" value="<%= Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO %>" />
      <%= render "hyrax/base/form_permission_embargo", curation_concern: curation_concern, f: f  %>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-12 form-actions">
      <% if curation_concern.embargo_release_date %>
        <%= f.submit t('hyrax.embargoes.edit.embargo_update'), class: 'btn btn-primary' %>
        <%= link_to t('hyrax.embargoes.edit.embargo_deactivate'), embargo_path(curation_concern), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= f.submit t('hyrax.embargoes.edit.embargo_apply'), class: 'btn btn-primary' %>
      <% end %>
      <%= link_to t('hyrax.embargoes.edit.embargo_cancel'), embargoes_path, class: 'btn btn-default' %>
      <%= link_to t('hyrax.embargoes.edit.embargo_return', cc: curation_concern), edit_polymorphic_path([main_app, curation_concern]), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<h2><%= t('hyrax.embargoes.edit.header.past') %></h2>
<% if curation_concern.embargo_history.empty? %>
  <%= t('hyrax.embargoes.edit.history_empty', cc: curation_concern) %>
<% else %>
  <%= render partial: "embargo_history" %>
<% end %>
